<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Street</title>
</head>
<body>
    <div data-role="page" id="shop" data-theme="b">
        <div data-role="header" style="overflow:hidden;">
            <h1>Street - Manage</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="/products" data-icon="bullets">Productos</a></li>
                    <li><a href="/" data-icon="home">Home</a></li>
                    <li><a href="/shop" data-icon="plus">Añadir</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->
        <div data-role="content">
            <h2>Carga nuevos productos a la pagina</h2>
            <form action="/" method="POST">
                <input type="text" name="code" id="txt_code" placeholder="Codigo" value="">

                <input type="text" name="name" id="txt_name" placeholder="Nombre" value="">

                <input type="text" name="brand" id="txt_brand" placeholder="Marca" value="">

                <input type="text" name="price" id="txt_price" placeholder="Precio" value="">

                <input type="number" name="stock" id="txt_stock" placeholder="Existencia" value="">

                <select name="type" id="txt_type">
                    <option value="" disabled>-Seleccionar-</option>
                    <option value="Celular">Celular</option>
                    <option value="Laptop">Laptop</option>
                    <option value="PC">PC</option>
                    <option value="Smartwatch">Smartwatch</option>
                    <option value="Audifonos">Audifonos</option>
                </select>
                <select name="status" id="flip-2" data-role="slider">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>

                <input type="submit" value="Guardar">
            </form>
        </div>
        <div data-role="footer">
            <h5>Developed by Zac-ek</h5>
        </div>
    </div>
</body>
</html>